@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

:root {
  --primary-color: #333C6A;
  --primary-color-variant: #3B4993;
  --secondary-color: #FCC32F;
}


* {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #F1F1F1;
  font-weight: 700;
}

button {
  outline: none;
  border: none;
  font-weight: inherit;
}