/*<============= Responsive breakpoint =============>*/

/* Tablet Screen */
@media screen and (max-width: 820px) {
	nav ul a {
		font-size: 0.75em;
	}
	.interests {
		/*grid-template-columns: repeat(2, 1fr);*/
		padding: 0;
	}
}

/* Mobile Screen */
@media screen and (max-width: 720px) {
	nav {
		justify-content: space-between;
	}

	.menu-toggle {
		display: flex;
	}

	nav ul {
		position: absolute;
		padding: 16px 0;
		opacity: 0;
		left: -20px;
		right: 0;
		top: 0;
		height: 100vh;
		width: 80%;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		z-index: 1;
		background-color: var(--primary-color);
		/* Hide the nav */
		transform: translateX(-100%);

		/* Add transition for every style changes applied */
		transition: all 1s;
	}

	nav ul li a,
	nav ul li a:hover {
		font-size: 1.5em;
		color: white;
	}

	nav ul li a::after {
		background-color: white;
	}

	.hero {
		grid-template-areas:
			"hero-heading"
			"hero-text"
			"hero-image";
		grid-template-columns: 1fr;
		justify-items: center;
		gap: 16px;
	}

	.hero img {
		justify-self: center;
	}

	.popular-class {
		grid-template-columns: 2fr;
		gap: 16px;
	}

	.testimonial {
		grid-template-columns: 1fr;
	}
}

/* Mobile L */
@media screen and (max-width: 425px) {
	.reason {
		grid-template-columns: auto;
	}
}

/* Galaxy Fold */
@media screen and (max-width: 320px) {
	nav {
		grid-template-columns: repeat(3, 1fr);
	}

	p,
	h1,
	span,
	h3,
	h4,
	h5,
	h6,
	button {
		font-size: 0.8em;
	}

	nav .logo-btn {
		display: none;
	}

	.words h2,
	.interests h2 {
		font-size: 1.5em;
	}

	.interests,footer {
		grid-template-columns: 1fr;
	}

	footer h3,
	footer p.text {
		font-size: 1em;
	}

	footer h3 {padding: 8px;}

	.class-item {
		width: 100%;
	}
}
