@import url(reset.css);
@import url(base.css);
@import url(utils.css);
@import url(animations.css);

/* widget */
@import url(burger.css);

.container,
.nav-wrapper {
	padding: 0 20px;
	max-width: 1200px;
	margin: auto;
}
.container {
	display: flex;
	flex-direction: column;
}

/* Navigation */
.nav-wrapper {
	position: sticky;
	top: 0;
	max-width: none;
	transition: box-shadow var(--primary-duration);
	animation-name: topToBottom;
	animation-duration: var(--primary-duration);
	z-index: 100;
}

nav {
	display: grid;
	max-width: 1200px;
	margin: auto;
	grid-template-columns: auto 3fr repeat(2, 0.3fr);
	place-items: center;
	gap: 26px;
	background-color: var(--background-color);
}

/* Nav logo */
nav a {
	width: 100%;
	height: auto;
}

/* nav lists */
nav ul {
	list-style-type: none;
	/*display: grid;*/
	/*place-items: center;
	place-self: center stretch;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));*/
	place-self: center stretch;
	display: flex;
	justify-content: start;
	gap: 40px;
}

/* nav links */
nav ul li a {
	text-decoration: none;
	color: var(--primary-color);
	opacity: 0.8;
	font-weight: 700;
	transition: 0.3s;
}

nav ul li a:hover {
	color: var(--primary-color-variant);
	opacity: 1;
}

nav ul li a::after {
	content: "";
	width: 0%;
	height: 2px;
	background: var(--primary-color-variant);
	display: block;
	transition: 0.7s;
}

nav ul li a:hover::after {
	width: 100%;
}

/* Nav action button */
nav button {
	background-color: white;
	border-radius: 5px;
	color: var(--primary-color);
	border: 1px solid var(--primary-color-variant);
	box-shadow: 0 3px 4px black, 0 6px 0 var(--primary-color-variant);
	font-family: "Quicksand", sans-serif;
	cursor: pointer;
	transition: 0.3s;

	place-self: center stretch;
	padding: 12px 0;

	width: 80px;

	animation: topToBottom var(--primary-duration);
}

nav button.signup {
	background-color: var(--secondary-color);
}

nav button:hover {
	filter: brightness(0.85);
}

nav button:active {
	box-shadow: none;
	transform: translateY(6px);
}

/* Hero */

.hero {
	display: grid;
	grid-template-areas:
		"hero-heading hero-image"
		"hero-text hero-image";
	grid-template-columns: 1fr 1fr;
	margin-top: 8px;
	align-items: center;
	gap: 8px;
}

.hero h1 {
	grid-area: hero-heading;
	font-size: 48px;
	color: var(--primary-color);
	align-self: end;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.hero h1 span {
	display: inline-block;
	background-color: white;
	padding: 4px;
	color: var(--primary-color);
	border-radius: 10px;
	cursor: pointer;
}
.hero h1 > span:hover {
	filter: brightness(0.85);
	transition: var(--primary-duration);
	animation-name: leftRight;
	animation-duration: var(--primary-duration);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.hero h1 span span {
	color: var(--secondary-color);
}

.hero p {
	align-self: start;
	grid-area: hero-text;
}

.hero img {
	width: 85%;
	justify-self: end;
	grid-area: hero-image;
	animation-name: rightToLeft;
	animation-duration: var(--primary-duration);
}

.hero h1,
.hero p {
	animation-duration: var(--primary-duration);
	animation-name: leftToRight;
}

/* Words */
.words-wrapper {
	background-color: var(--light-blue);
	border-radius: 20px;
	margin: 20px 0;
	animation-duration: var(--primary-duration);
	animation-name: bottomToTop;
}

.words {
	margin: 32px auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 16px;
	width: 60%;
	text-align: center;

	/*background-color: #F4F8FF;*/
	/*outline: 5px solid #F4F8FF;
	outline-offset: 100%;*/
}

/*.statement{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin: 0 0 1.5rem 0;
}

.question{
	margin: 1.5rem 0 0 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}*/

.words h2 {
	font-size: 2.5em;
	color: var(--primary-color);
}

.words p span {
	font-weight: 700;
}
.words p span:hover {
	opacity: 0.7;
	transition: var(--primary-duration);
	cursor: pointer;
}

/* Statement */
.statement.words {
	width: 65%;
}

/* Reasons */
.reason {
	width: fit-content;
	height: fit-content;
	/* background: blue; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.reason .item_box {
	width: 22rem;
	height: 12rem;
	border-radius: 1rem;
	background: white;
	color: var(--primary-color);
	box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.3);
	margin: 10px;
	font-size: 1.3rem;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: var(--primary-duration);
}
.item_box img {
	width: 4rem;
	margin: 0.5rem 0;
	height: auto;
}
.item_box p {
	max-width: 70%;
	text-align: center;
}
.reason .item_box:hover {
	filter: brightness(90%);
	/* transform: translateY(-10px); */
	animation: upDown var(--primary-duration) infinite;
}

.reason .item_box:hover img {
	animation: upDown var(--primary-duration) infinite;
}

/* Popular Class */
.popular-class {
	margin-top: 60px;
	background-color: var(--light-blue);
	border-radius: 20px;
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
}

.class-desc {
	justify-self: center;
}

.class-desc h1 {
	text-align: center;
	display: inline;
}

.class-desc img {
	/*position: absolute;*/
	display: inline;
}

.class-list {
	display: flex;
	column-gap: 40px;
	overflow-x: scroll;
}

.class-item {
	width: min-content;
	padding: 15px;
	background-color: white;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	justify-content: center;

	cursor: pointer;
}

.class-item > * {
	flex: 1;
}

/* class-item */
.class-item img {
	width: 100%;
	height: auto;
	border-radius: 20px;
	transition: 0.3s;
}

.class-item .price.crossed {
	color: #94989b;
	text-decoration: line-through;
}

.class-item .prices {
	display: flex;
	column-gap: 16px;
}

/* Interest */
.interests {
	padding: 32px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 16px;
}

.interests h2 {
	color: var(--primary-color-variant);
	font-weight: 700;
	place-self: center;
	font-size: 2em;
	grid-column: 1/-1;
}

.interests .interest {
	--linear-interest: linear-gradient(
		0.93deg,
		rgba(59, 73, 147, 0.8) 10.4%,
		rgba(217, 217, 217, 0) 172.99%
	);
	min-height: 200px;

	background-image: var(--linear-interest), url(../img/interest/data-analyst.png);
	background-position: center;
	background-size: cover;
	color: white;
	border-radius: 20px;
	/*padding: 80px;*/
	display: grid;
	place-content: center;
	transition: var(--primary-duration);
}

.interests .interest:hover p {
	top: 0;
	font-size: 1.5em;
}

.interests .interest p {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	width: max-content;
	height: min-content;
	position: relative;
	top: 50px;
	transition: var(--primary-duration);
}

.interests .interest:nth-child(2) {
	background-image: var(--linear-interest), url(../img/interest/data-analyst.png);
}

.interests .interest:nth-child(3) {
	background-image: var(--linear-interest), url(../img/interest/web-developer.png);
}

.interests .interest:nth-child(4) {
	background-image: var(--linear-interest), url(../img/interest/mobile-developer.png);
}

.interests .interest:nth-child(5) {
	background-image: var(--linear-interest), url(../img/interest/iot.png);
}

/*.interests .interest:hover {
	background-size: 110%;
}*/

/*<============= Responsive breakpoint =============>*/

/* Tablet Screen */
@media screen and (max-width: 800px) {
	nav ul a {
		font-size: 0.75em;
	}
	.interests {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Mobile Screen */
@media screen and (max-width: 720px) {
	nav {
		justify-content: space-between;
	}

	.menu-toggle {
		display: flex;
	}

	nav ul {
		position: absolute;
		padding: 16px 0;
		opacity: 0;
		left: -20px;
		right: 0;
		top: 0;
		height: 100vh;
		width: 80%;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		z-index: 1;
		background-color: var(--primary-color);
		/* Hide the nav */
		transform: translateX(-100%);

		/* Add transition for every style changes applied */
		transition: all 1s;
	}

	nav ul li a,
	nav ul li a:hover {
		font-size: 1.5em;
		color: white;
	}
	nav ul li a::after {
		background-color: white;
	}

	.hero {
		grid-template-areas:
			"hero-heading"
			"hero-text"
			"hero-image";
		grid-template-columns: 1fr;
		justify-items: center;
		gap: 16px;
	}

	.hero img {
		justify-self: center;
	}

	.popular-class {
		grid-template-columns: 2fr;
		gap: 16px;
	}

	.interests {
		grid-template-columns: repeat(1, 1fr);
	}
}

/* Mobile L */
@media screen and (max-width: 425px) {
	.reason .item_box {
		width: 100%;
	}
}
