@import url(reset.css);
@import url(base.css);
@import url(responsive.css);

/* widget */
@import url(burger.css);

.container {
	padding: 0 20px;
	max-width: 1300px;
	margin: auto;
}

/* Navigation */
nav {
	display: grid;
	grid-template-columns: auto 3fr repeat(2, 0.3fr);
	place-items: center;
	gap: 26px;
	position: sticky;
	top: 0;
	background-color: var(--background-color);
}

/* Nav logo */
nav a {
	width: 100%;
	height: auto;
}

/* nav lists */
nav ul {
	list-style-type: none;
	/*display: grid;*/
	/*place-items: center;
	place-self: center stretch;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));*/
	place-self: center stretch;
	display: flex;
	justify-content: start;
	gap: 40px;
}

/* nav links */
nav ul li a {
	text-decoration: none;
	color: var(--primary-color);
	opacity: 0.8;
	font-weight: 700;
	transition: 0.3s;
}

nav ul li a:hover {
	color: var(--primary-color-variant);
	opacity: 1;
}

nav ul li a::after {
	content: "";
	width: 0%;
	height: 2px;
	background: var(--primary-color-variant);
	display: block;
	transition: 0.7s;
}

nav ul li a:hover::after {
	width: 100%;
}

/* Nav action button */
nav button {
	background-color: white;
	border-radius: 5px;
	color: var(--primary-color);
	border: 1px solid var(--primary-color-variant);
	box-shadow: 0 3px 4px black, 0 6px 0 var(--primary-color-variant);
	font-family: 'Quicksand', sans-serif;
	cursor: pointer;
	transition: 0.3s;

	place-self: center stretch;
	padding: 12px 0;

	width: 80px;
}

nav button.signup {
	background-color: var(--secondary-color);
}

nav button:hover {
	filter: brightness(0.85);
}

nav button:active {
	box-shadow: none;
}

/* Hero */

.hero {
	display: grid;
	grid-template-areas:
		"hero-heading hero-image"
		"hero-text hero-image";
	grid-template-columns: 1fr 1fr;
	margin-top: 8px;
	align-items: center;
	gap: 8px;
}

.hero h1 {
	grid-area: hero-heading;
	font-size: 48px;
	color: var(--primary-color);
	align-self: end;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.hero h1 a span {
	display: inline-block;
	background-color: white;
	padding: 4px;
	color: var(--primary-color);
	border-radius: 10px;
	cursor: pointer;
}
.hero h1 a span:hover{
	filter: brightness(0.85);
	transition: 0.5s;
}

.hero h1 a span span {
	color: var(--secondary-color);
}

.hero p {
	align-self: start;
	grid-area: hero-text;
}

.hero img {
	width: 85%;
	justify-self: end;
	grid-area: hero-image;
}

/* Words */
.words {
	margin: 64px auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 16px;
	width: 60%;
	text-align: center;
}

.words h2 {
	font-size: 2.5em;
	color: var(--primary-color);
}

.words p span {
	font-weight: 700;
}
.words p span:hover{
	opacity: 0.7;
	transition: 0.5s;
	cursor: pointer;
}
/* Statement */
.statement.words {
	width: 65%;
}

.reason {
	width: fit-content;
	height: fit-content;
	/* background: blue; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.reason .item_box{
	width: 22rem;
	height: 12rem;
	border-radius: 1rem;
	background: white;
	color: var(--primary-color);
	box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.3);
	margin: 10px;
	font-size: 1.3rem;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.item_box img{
	width: 4rem;
	margin: 0.5rem 0;
	height: auto;
}
.item_box p{
	max-width: 70%;
	text-align: center;
}
.reason .item_box:hover{
	filter: brightness(90%);
	/* transform: translateY(-10px); */
	transition: 0.5s;
}

/*<============= Responsive breakpoint =============>*/

/* Tablet Screen */
@media screen and (max-width: 775px) {
	nav ul a {
		font-size: 0.75em;
	}
}

/* Mobile Screen */
@media screen and (max-width: 720px) {
	nav {
		justify-content: space-between;
	}

	.menu-toggle {
		display: flex;
	}

	nav ul {
		position: absolute;
		padding: 16px 0;
		opacity: 0;
		left: -20px;
		right: 0;
		top: 0;
		height: 100vh;
		width: 80%;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		z-index: 1;
		background-color: var(--primary-color);
		/* Hide the nav */
		transform: translateX(-100%);

		/* Add transition for every style changes applied */
		transition: all 1s;
	}

	nav ul li a,
	nav ul li a:hover {
		color: white;
	}
	nav ul li a::after {
		background-color: white;
	}

	.hero {
		grid-template-areas:
			"hero-heading"
			"hero-text"
			"hero-image";
		grid-template-columns: 1fr;
		justify-items: center;
		gap: 16px;
	}

	.hero img {
		justify-self: center;
	}
}

/* .slide class is added when burger is clicked */
nav ul.slide {
	/* Show the menu */
	opacity: 1;
	transform: translateX(0);
}
